@model IEnumerable<DBTestingProject.Models.Furniture>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Hello My Freands</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container m-4">
    <a asp-action="AddToFurnitureMyList" class="form-control btn btn-success" style="color:cadetblue; font-weight:800">Create New Furniture</a>
</div>


<div>
    <table class="table">
        <thead>
            <tr style="color:darkred">
                <th>ID</th>
                <th>Type_Furniture</th>
                <th>Outside to view</th>
                <th>Material with product</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info_table in Model)
            {
                <tr>
                    <td style="color:orangered; font-weight:bold">@info_table.Id</td>
                    <td>@info_table.TypeFurniture</td>
                    <td>@info_table.OutsideView</td>
                    <td>@info_table.Material</td>
                    <td>@info_table.Price</td>
                    <td>
                          @Html.ActionLink("Edit", "Edit", new {id=info_table.Id})
                        | @Html.ActionLink("Delete","Delete", new {Id=info_table.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
